
<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="no-js ie ie6 lte9 lte8 lte7 partial loading" data-partial="layouts/default" lang="{{language}}"> <![endif]-->
<!--[if IE 7]>     <html class="no-js ie ie7 lte9 lte8 lte7 partial loading" data-partial="layouts/default" lang="{{language}}"> <![endif]-->
<!--[if IE 8]>     <html class="no-js ie ie8 lte9 lte8 partial loading" data-partial="layouts/default" lang="{{language}}"> <![endif]-->
<!--[if IE 9]>     <html class="no-js ie ie9 lte9 partial loading" data-partial="layouts/default" lang="{{language}}"> <![endif]-->
<!--[if gt IE 9]>  <html class="no-js ie gt-ie9 partial loading" data-partial="layouts/default" lang="{{language}}"><![endif]-->
<!--[if !IE]><!--> <html class="no-js partial loading" data-partial="layouts/default" lang="{{default.language}}"><!--<![endif]-->
<head>
  {{#if options.server.weinre}}
  <script type="text/javascript">
      if(/(weinre)/g.test(location.search)) {
        var host = (location.host || 'localhost').split(':')[0];
        document.write('<script src="//' + host + ':{{options.server.weinre.port}}/target/target-script-min.js#anonymous"></'+'script>');
      }
  </script>
  {{/if}}
  {{#if options.server.livereload}}
  <script type="text/javascript">
      if('WebSocket' in window || 'MozWebSocket' in window) {
        var host = (location.host || 'localhost').split(':')[0];
        document.write('<script src="//' + host + ':{{options.server.livereload.port}}/livereload.js?snipver=1"></' + 'script>');
      }
  </script>
  {{/if}}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="{{{globals.head.meta.viewport}}}">

  <meta name="apple-mobile-web-app-capable" content="{{{globals.head.meta.webAppCapable}}}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="{{{globals.head.meta.statusBarStyle}}}">
  <meta name="format-detection" content="{{{globals.head.meta.formatDetection}}}">

  <meta name="author" content="{{globals.head.meta.author}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">

  <meta property="og:title" content="{{social.title}}">
  <meta property="og:description" content="{{social.description}}">
  <meta property="og:locale" content="{{social.localization}}" />
  <!-- minimum size of preview images. If it's smaller than 200px, the image will be ignored by facebook. -->
  <meta property="og:image" content="{{social.image.url}}">
  <meta property="og:image:secure_url" content="{{social.image.secureUrl}}">
  <meta property="og:image:type" content="{{social.image.type}}">
  <meta property="og:image:width" content="{{social.image.width}}">
  <meta property="og:image:height" content="{{social.image.height}}">

  <title>{{title}}</title>

  <link rel="shortcut icon" type="image/x-icon" href="{{relativeToRoot}}{{{globals.head.meta.favicon}}}">

  <style type="text/css">
      {{{raw options.scripts.css.critical}}}
  </style>

  <style type="text/css">
    {{#each globals.fonts}}
      {{#if this.base64}}
        @font-face {
          font-family: '{{name}}';
          src: url('data:application/x-font-woff;charset=utf-8;base64,{{{base64 this.path}}}') format('{{{replace (extname this.path) "." ""}}}');
          font-style: {{style}};
          font-weight: {{weight}};
        }

      {{else}}
        @font-face {
          font-family: '{{name}}';
          src: url('{{#unless this.absolute}}{{../relativeToRoot}}{{/unless}}{{{this.path}}}.eot');
          src: url('{{#unless this.absolute}}{{../relativeToRoot}}{{/unless}}{{this.path}}.eot?#iefix') format('embedded-opentype'),
          url('{{#unless this.absolute}}{{../relativeToRoot}}{{/unless}}{{this.path}}.woff') format('woff'),
          url('{{#unless this.absolute}}{{../relativeToRoot}}{{/unless}}{{this.path}}.ttf') format('truetype');
          font-style: {{style}};
          font-weight: {{weight}};
        }
      {{/if}}
    {{/each}}


  </style>
  <script type="text/javascript">
    window.customFonts = [
      {{#each globals.fonts}}
        {
          name: '{{name}}',
          props: {
            style: '{{style}}',
            weight: '{{weight}}'
          },
          testString: '{{testString}}'
        },
      {{/each}}
    ]
  </script>

  {{#unless options.server.websocket}}
    <link type="text/css" rel="stylesheet" href="{{relativeToRoot}}{{options.scripts.css.main}}" media="async"/>
  {{/unless}}

  <script type="text/javascript">
      {{#each options.scripts.js.embed}}
          {{raw this}}
      {{/each}}
  </script>
</head>
<body>

  {% body %}

  <link type="text/css" rel="stylesheet" href="{{relativeToRoot}}{{options.scripts.css.main}}" media="screen"/>

  {{#if options.server.websocket}}
    <script src="http://localhost:8050/socket.io/socket.io.js" type="text/javascript"></script>
  {{/if}}
  {{#if options.server.webpack}}
    {{{mixin "common/breakpoint"}}}
    <script>
      var host = (location.host || 'localhost').split(':')[0];
      document.write('<script type="text/javascript" src="//' + host +':{{options.server.webpack.port}}/{{options.scripts.js.main}}"></' + 'script>');
    </script>
  {{else}}
    <script type="text/javascript" src="{{{relativeToRoot}}}{{relative options.server.dest options.scripts.js.main}}" async defer></script>
  {{/if}}

</body>
</html>
